@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Liga Pro</h1>
	<p>Bienvenidos a la página oficial de la Liga Pro - Resultados, Equipos y Tabla de posiciones</p>
</div>

<div class="container my-4">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
		</div>

		<div class="carousel-inner">
			<div class="carousel-item">
				<img src="~/img/ligaproLogo.jpeg" class="d-block w-100" alt="Logo">
			</div>
			<div class="carousel-item">
				<img src="~/img/ligaprotroeo.jpg" class="d-block w-100" alt="Trofeo">
			</div>
			<div class="carousel-item active">
				<img src="~/img/campeonLigapro.jpg" class="d-block w-100" alt="Campeon">
			</div>
			<div class="carousel-item">
				<img src="~/img/jugadoresligapro.jpg" class="d-block w-100" alt="Jugadores">
			</div>

		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Anterior</span>
		</button>

		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Siguiente</span>
		</button>

	</div>
</div>
